@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  box-sizing: border-box;
}

.cl:after {
  content: "\0020";
  line-height: 0;
  font-size: 0;
  display: block;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* 顶部 */
.lohead {
  background-color: #1c222e;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #bdbcc1;
}

.lohead span {
  margin: 0 15px;
}

.lohead span a {
  color: #bdbcc1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 中心内容 */
.m {
  min-height: 600px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.mh {
  padding: 20px 0;
  color: #2a344f;
}

.mh strong {
  font-size: 30px;
  font-weight: normal;
}

.mh span {
  float: right;
  line-height: 50px;
  font-size: 18px;
}

.mh span a {
  color: #1d5af2 !important;
}

/* 表单部分 */
.ctl {
  width: 480px;
}

.ctr {
  width: 700px;
}

.zmd {
  width: 330px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 16px;
}

.zmd span {
  font-size: 16px;
}

.zmd div {
  padding: 12px 0;
}

.mda {
  color: #000;
}

/* 给input设置样式 */
input.zbox {
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 20px;
  border: 1px solid #e3e2e7;
  border-radius: 4px;
  outline-color: #1d5af2;
}

/* 同意条款 */
.tong {
  position: relative;
  font-size: 12px;
}

.tong a {
  color: #1d5af2;
}

input.checkbox {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  border: rgba(0, 0, 0, 0.3);
  margin-top: -3px;
}

/* 按钮 */
input.regBtn {
  border: 0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px 0;
  background-image: linear-gradient(90deg, #ffaa00 17%, #f76b1c 100%);
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* 登录 */
.ce {
  text-align: center;
  font-size: 12px;
}

/* 尾部 */
.foot {
  min-height: 180px;
  background: #26344b;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  box-sizing: border-box;
}

.cl:after {
  content: "\0020";
  line-height: 0;
  font-size: 0;
  display: block;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* 顶部 */
.lohead {
  background-color: #1c222e;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #bdbcc1;
}

.lohead span {
  margin: 0 15px;
}

.lohead span a {
  color: #bdbcc1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 中心内容 */
.m {
  min-height: 600px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.mh {
  padding: 20px 0;
  color: #2a344f;
}

.mh strong {
  font-size: 30px;
  font-weight: normal;
}

.mh span {
  float: right;
  line-height: 50px;
  font-size: 18px;
}

.mh span a {
  color: #1d5af2 !important;
}

/* 表单部分 */
.ctl {
  width: 480px;
}

.ctr {
  width: 700px;
}

.zmd {
  width: 330px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 16px;
}

.zmd span {
  font-size: 16px;
}

.zmd div {
  padding: 12px 0;
}

.mda {
  color: #000;
}

/* 给input设置样式 */
input.zbox {
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 20px;
  border: 1px solid #e3e2e7;
  border-radius: 4px;
  outline-color: #1d5af2;
}

/* 同意条款 */
.tong {
  position: relative;
  font-size: 12px;
}

.tong a {
  color: #1d5af2;
}

input.checkbox {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  border: rgba(0, 0, 0, 0.3);
  margin-top: -3px;
}

/* 按钮 */
input.regBtn {
  border: 0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px 0;
  background-image: linear-gradient(90deg, #ffaa00 17%, #f76b1c 100%);
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* 登录 */
.ce {
  text-align: center;
  font-size: 12px;
}

/* 尾部 */
.foot {
  min-height: 180px;
  background: #26344b;
}

.tong .fl .red {
  color: #333;
}

.tong .fl .red:hover {
  color: #f00;
}

.mdb {
  position: relative;
}

.mdb i {
  display: block;
  width: 18px;
  height: 18px;
  background: url(http://meiyulipin.cn/c/user/css2020/images/m1.png) no-repeat;
  position: absolute;
  left: 15px;
  top: 22px;
}

.mdb input {
  text-indent: 20px;
}

.mdc {
  position: relative;
}

.mdc i {
  display: block;
  width: 18px;
  height: 18px;
  background: url(http://meiyulipin.cn/c/user/css2020/images/m2.png) no-repeat;
  position: absolute;
  left: 15px;
  top: 22px;
}

.mdc input {
  text-indent: 20px;
}

#box1 {
  position: relative;
  width: 163px;
  height: 40px;
  line-height: 40px;
  background: #666;
  cursor: pointer;
  top: 8px;
  border: 1px solid #b8b8b8;
  border-bottom: 0;
  text-align: center;
  /* background-color: aqua; */
}

#box1 h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

#box1 a {
  color: #fff;
}

#box1 .tab {
  height: 539px;
  position: relative;
  border: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.35);
  border-top: 0;
  background: rgba(46, 46, 46, 0.4);
  z-index: 30;
}

#box1 .tab > a {
  display: block;
  height: 44px;
  line-height: 44px;
  position: relative;
}

#box1 .tab > a p {
  text-decoration: underline;
}

#box1 .tab > a:hover {
  font-weight: 600;
}

#box1 .tab > a span {
  position: absolute;
  right: 12px;
  top: 0;
  display: none;
}

#box1 .tab .item {
  display: none;
}

#box1 .tab .item img {
  float: left;
  width: 190px;
  height: 240px;
  border-radius: 4px;
  margin: 0 0 10px 10px;
}

#box1 .alldiv {
  width: 400px;
  height: 518px;
  padding: 10px;
  border: 1px solid #ddd;
  position: absolute;
  left: 160px;
  top: 0;
  z-index: 25;
  background: rgba(255, 255, 255, 0.95);
}

#box1 .alldiv .mcu {
  width: 150px;
}

#box1 .alldiv .mcu li {
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

#box1 .alldiv .mcu li a {
  display: block;
  padding-left: 30px;
  border-bottom: 1px dashed #ddd;
  color: #000;
}

#box1 .alldiv .mcr {
  width: 190px;
}

.navlist > a {
  padding: 0 28px;
  font-weight: 600;
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  margin-top: 8px;
}

.navlist > a:hover {
  background-color: #e6e6e6;
}

.lubo {
  height: 540px;
  position: relative;
  cursor: pointer;
  background-color: rgba(46, 46, 46, 0.4);
  z-index: 0;
}

.lubo ul {
  width: 1920px;
  background-color: #999;
  margin-left: auto;
  position: absolute;
  left: 50%;
  margin-left: -960px;
}

.lubo ul li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.lubo ul li:nth-of-type(1) {
  opacity: 1;
}

.lubo ol {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -80px;
  bottom: 10%;
}

.lubo ol li {
  float: left;
  width: 30px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  background: #b8b8b8;
  opacity: 0.8;
}

.lubo ol li.active {
  background-color: #000;
}

.lubo #leftarrow,
.lubo #rightarrow {
  width: 30px;
  height: 80px;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: pointer;
  color: #fff;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 230px;
}

.lubo #leftarrow {
  left: 0;
}

.lubo #rightarrow {
  right: 0;
}

.lubo .box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
}

.nav {
  padding: 30px 0;
}

.nav a {
  display: block;
  float: left;
  margin-right: 10px;
}

.nav .no {
  margin-right: 0;
}

.pgd {
  padding: 20px 0;
}

.pgt {
  padding-bottom: 15px;
}

.pgt span {
  float: right;
  margin-top: .3rem;
}

.pgt span a {
  border-radius: .5rem;
  padding: 0.2rem .8rem;
  border: 1px solid #eee;
  font-size: .8rem;
  color: #999;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
  overflow: hidden;
}

.swiper-slide {
  width: 10000px;
}

.swiper-slide a {
  display: block;
  width: 175px;
  margin-right: 15px;
  float: left;
  position: relative;
}

.swiper-slide a img {
  width: 170px;
  border-radius: .3rem;
  border: 0;
  width: 100%;
  margin-top: 5px;
}

.swiper-slide a i {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
  background: url(http://www.doliwang.cn/template/web/image/pl.png) no-repeat;
  background-size: 100%;
}

.swiper-slide p {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #666;
  font-weight: 500;
  padding: 0 5px;
  text-align: center;
}

.jgtil {
  height: 50px;
  line-height: 50px;
}

.jgtil strong {
  font-size: 30px;
  float: left;
  font-weight: 600;
}

.jgtil i {
  float: left;
  font-size: 30px;
  display: block;
  width: 25px;
  height: 25px;
  background: url(http://www.doliwang.cn/template/web/image/x.png) no-repeat;
  background-size: 25px;
  margin-left: 10px;
  margin-top: 15px;
}

.jgtil span {
  font-size: 16px;
  float: left;
  margin-top: 8px;
}

.jgtir {
  padding-top: 9px;
}

.jgtir span {
  float: left;
}

.jgtir span .jgf {
  background: #f4f4f4;
  height: 29px;
  width: 70px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  padding-left: 10px;
}

.jgtir i {
  float: left;
  height: 2px;
  background: #dbdbdb;
  width: 20px;
  margin: 15px 10px 0 10px;
}

.spjias {
  background: #323232;
  color: #fff;
  border: 0;
  height: 33px;
  padding: 0 15px;
  margin-left: 12px;
  border-radius: 8px;
}

.jsd {
  margin-left: 10px;
  color: #999;
  font-size: 13px;
  margin-top: 12px;
}

.tab_nav {
  float: left;
  width: 160px;
}

.tab_nav li {
  float: left;
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: #6b696a;
  color: #fff;
  margin-bottom: 5px;
}

.tab_nav li a {
  color: #fff;
  display: block;
}

.tab_nav li a:hover {
  font-weight: 700;
  background: #c43433;
}

.zcx {
  width: 1105px;
  height: auto;
  overflow: hidden;
  float: right;
}

.zcx li {
  float: left;
  width: 180px;
  margin-bottom: 25px;
  margin-right: 48px;
  position: relative;
  border: 0px solid #ddd;
  text-align: center;
  margin-top: 20px;
}

.zcx li a {
  display: block;
}

.zcx li img {
  width: 100%;
}

.zcx li em {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #fc4d52;
  font-style: normal;
}

.zcx li strong {
  display: block;
  font-size: 14px;
  padding: 3px 0;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zcx li i {
  position: absolute;
  right: 6px;
  top: 6px;
  font-style: normal;
  display: none;
}

.zcx li i a {
  background: #f00;
  padding: 2px 15px;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  margin-top: -20px;
}

.zcx li:hover i {
  display: block;
}

.zcx li:nth-child(5n) {
  margin-right: 0;
}

.pp {
  padding: 5px 0;
  background: #f3f3f3;
  margin-bottom: 30px;
  margin-top: 40px;
}

.pp a {
  display: block;
  width: 85px;
  height: 85px;
  line-height: 85px;
  background: #fff;
  text-align: center;
  margin: 5px 12px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.pp a img {
  width: 100%;
  vertical-align: middle;
}

.cls {
  padding-top: 25px;
}

.cls .list-item {
  width: 170px;
  height: 279px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 21.5px;
}

.cls .list-item:last-child {
  margin-right: 0;
}

.cls .list-item:hover .mask {
  opacity: 0.8;
}

.cls .list-item:hover img {
  transform: scale(1.1);
}

.cls .list-item:hover a {
  font-weight: 600;
}

.cls .list-item .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 4;
  line-height: 22px;
  font-size: 22px;
  color: #fff;
  text-align: center;
  transition: font-size .3s;
}

.cls .list-item .jt {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  right: 0;
  bottom: 10px;
  z-index: 4;
  display: block;
  width: 30px;
  height: 30px;
  background: url(http://www.doliwang.cn//template/web/image/jt.png);
  background-size: 30px;
}

.cls .list-item .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  background: #000;
  transition: opacity .5s;
}

.cls .list-item img {
  width: 100%;
  height: 279px;
  transition: transform .5s;
}

.al {
  padding-top: 20px;
}

.hy {
  margin-top: 15px;
}

#zcx2 {
  width: 1320px;
  margin: 0 auto;
}

#zcx2 li {
  width: 225px;
  margin-bottom: 30px;
  margin-right: 48px;
  position: relative;
}

#zcx2 li:nth-child(5n) {
  margin-right: 0;
}

#zcx2 li img {
  width: 100%;
}

.hyt {
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
}

.hyt li {
  float: left;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  margin: 0 13px;
  font-size: 16px;
}

.hyt li:hover {
  color: #000;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.ha {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: right;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 16px;
  text-decoration: underline;
}

.ha:hover {
  color: #fc4d52;
}

.jgti {
  margin-top: 10px;
}

.jgtil {
  height: 50px;
  line-height: 50px;
}

.jgtil strong {
  font-size: 30px;
  float: left;
  font-weight: 600;
}

.jgtil i {
  float: left;
  font-size: 30px;
  display: block;
  width: 25px;
  height: 25px;
  background: url(http://www.doliwang.cn/template/web/image/x.png) no-repeat;
  background-size: 25px;
  margin-left: 10px;
  margin-top: 15px;
}

.imo {
  padding-top: 10px;
}

.imo a {
  font-size: 16px;
  color: #999;
}

.ip {
  border: 1px solid #e9e9e9;
  height: 630px;
  overflow: hidden;
  margin-bottom: 30px;
}

.ip .ipd {
  width: 505px;
  height: 295px;
  margin-right: 40px;
}

.ip .zcx3 {
  display: block;
  width: 1400px;
  padding-top: 20px;
}

.ip .zcx3 li {
  float: left;
  width: 225px;
  margin-bottom: 30px;
  margin-right: 40px;
  position: relative;
}

.ip .zcx3 li:hover i {
  display: block;
}

.ip .zcx3 li i {
  position: absolute;
  right: 6px;
  top: 6px;
  display: none;
}

.ip .zcx3 li i a {
  background: #f00;
  padding: 2px 15px;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
}

.ip .zcx3 li .hp {
  display: block;
}

.ip .zcx3 li span {
  display: block;
}

.ip .zcx3 li .zcp {
  width: 225px;
  height: 225px;
  overflow: hidden;
  border: 1px solid #eee;
}

.ip .zcx3 li .zcp img {
  width: 100%;
}

.ip .zcx3 li .kj {
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
}

.ip .zcx3 li em {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #fc4d52;
  font-style: normal;
}

.ip .zcx3 li strong {
  display: block;
  font-size: 14px;
  padding: 3px 0;
  text-align: center;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ip .ui3 {
  padding: 15px;
}

.fb {
  border: 1px solid #eee;
  height: 580px;
}

.fb .fbl {
  width: 260px;
  height: 580px;
  border-right: 1px solid #ddd;
}

.fb .fbl strong {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  position: relative;
  font-weight: 500;
}

.fb .fbl strong::after {
  position: absolute;
  bottom: 15px;
  left: 75px;
  right: 75px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #333;
}

.fb .fbp {
  display: block;
  width: 260px;
  height: 400px;
}

.fb .fbp img {
  width: 260px;
  height: 400px;
}

.tjf li {
  width: 33%;
  float: left;
  text-align: center;
  padding: 10px 0;
}

.tjf li a {
  font-size: 14px;
  color: #666;
  display: block;
  text-align: center;
  padding: 5px 0;
}

.tjf li a:hover {
  background: #f00;
  color: #fff;
  border-radius: 5px;
}

.fbr {
  width: 1030px;
  height: 580px;
}

.zcx4 {
  display: block;
  width: 1060px;
  padding: 10px;
}

.zcx4 li {
  float: left;
  width: 215px;
  margin-bottom: 15px;
  margin-right: 45px;
  position: relative;
}

.zcx4 li i {
  display: block;
  position: absolute;
  right: 6px;
  top: 6px;
  display: none;
}

.zcx4 li i a {
  background: #f00;
  padding: 2px 15px;
  color: #fff;
  border-radius: 6px;
}

.zcx4 li span {
  display: block;
}

.zcx4 li .zcp {
  width: 215px;
  height: 215px;
  overflow: hidden;
  border: 1px solid #eee;
}

.zcx4 li .zcp img {
  width: 100%;
}

.zcx4 li .kj {
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
}

.zcx4 li em {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial;
  color: #fc4d52;
  font-style: normal;
}

.zcx4 li strong {
  display: block;
  font-size: 14px;
  padding: 3px 0;
  text-align: center;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.co {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.col {
  width: 370px;
  text-align: center;
  min-height: 300px;
}

.col span {
  display: block;
}

.col .cot {
  padding-top: 30px;
  padding-bottom: 40px;
}

.col .cot strong {
  display: block;
  color: #333;
  font-size: 18px;
  padding-bottom: 10px;
}

.col .cot i {
  display: block;
  color: #c9c9c9;
}

.col .ikf a {
  margin: 0 10px;
}

.cx {
  height: 160px;
  width: 1px;
  border-right: 2px solid #d8d8d8;
  margin-top: 80px;
}

.com {
  width: 320px;
  padding: 0 110px;
  text-align: center;
}

.com span {
  display: block;
}

.com .cot {
  padding-top: 30px;
  padding-bottom: 40px;
}

.com .cot strong {
  display: block;
  color: #333;
  font-size: 18px;
  padding-bottom: 10px;
}

.com .cot i {
  display: block;
  color: #c9c9c9;
}

.coma dl {
  float: left;
  width: 33%;
}

.coma dl dt {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
}

.coma dl dd {
  font-size: 14px;
  line-height: 26px;
  color: #666;
}

.cor {
  text-align: center;
  width: 300px;
}

.cor span {
  display: block;
}

.cor .cot {
  padding-top: 30px;
  padding-bottom: 40px;
}

.cor .cot strong {
  display: block;
  color: #333;
  font-size: 18px;
  padding-bottom: 10px;
}

.cor .cot i {
  display: block;
  color: #c9c9c9;
}

.bv {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.bv a {
  margin: 0 10px;
  color: #666;
}

.yl {
  text-align: center;
  padding: 10px 0;
}

.yl a {
  margin: 0 10px;
}

.bq {
  font-size: 12px;
  color: #333;
  text-align: center;
  padding: 20px 0;
  line-height: 26px;
}

.lift-nav {
  position: fixed;
  top: 110px;
  left: 50%;
  margin-left: -710px;
}

.lift-nav li {
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  padding: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

.lift-nav li span {
  display: block;
  visibility: hidden;
  font-size: 13px;
}

.lift-nav .a1 {
  background: url(http://www.doliwang.cn/template/web/image/l1.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a2 {
  background: url(http://www.doliwang.cn/template/web/image/l2.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a3 {
  background: url(http://www.doliwang.cn/template/web/image/l3.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a4 {
  background: url(http://www.doliwang.cn/template/web/image/l4.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a5 {
  background: url(http://www.doliwang.cn/template/web/image/l5.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a6 {
  background: url(http://www.doliwang.cn/template/web/image/l6.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a7 {
  background: url(http://www.doliwang.cn/template/web/image/l7.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a8 {
  background: url(http://www.doliwang.cn/template/web/image/l8.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a9 {
  background: url(http://www.doliwang.cn/template/web/image/l9.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a10 {
  background: url(http://www.doliwang.cn/template/web/image/l10.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a11 {
  background: url(http://www.doliwang.cn/template/web/image/l11.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a12 {
  background: url(http://www.doliwang.cn/template/web/image/l12.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .a13 {
  background: url(http://www.doliwang.cn/template/web/image/l13.png) no-repeat center #e6e6e6;
  display: block;
}

.lift-nav .hp {
  display: block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  line-height: 100px;
  background: url(http://www.doliwang.cn/template/web/image/top.jpg) no-repeat center #e6e6e6;
  padding: 3px;
}

.lift-nav .current {
  background: #bc4038;
  display: block;
}

.lift-nav .current span {
  display: block;
  visibility: visible;
}
